{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}

    <div class="conatainer">
    <div class="form-wrap"> 
    <input type="text" id="searchFilm" placeholder="Enter title of movie">
    <button type="button" class="btn" id="btnSearch">Search</button>
    </div>
    <ul class="list"  id="list"></ul>
    </div> 
    {% endblock %}