{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}
<div id="app">
<ul>
 <li v-for="(todo, indexList) in todos">
 <button  v-on:click="removeItem(indexList)">
  ${todo.text}
 </button>
 </li>
</ul>
</div>

<h1>Random tasklist</h1>

<div id="app2">
        <ul v-bind="randomTask()">
            <li  v-for="(task, index) in taskList">
                ${task.text}
            </li>
        </ul>
    </div>

   
    {% endblock %}